.searchResults {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  background-color: black;
  box-shadow: rgba(29, 36, 237, 0.8) 0px 4px 16px,
    rgba(194, 55, 104, 0.8) 0px 8px 24px, rgba(194, 55, 104, 0.8) 0px 16px 56px,
    rgba(169, 194, 55, 0.8) 0px 24px 56px;
  color: white;
  margin-top: 2%;
  padding: 1%;
}
